@font-face {
    font-family: LEMONMILK;
    src: url(LEMONMILK-Medium.woff2) format("woff2")
}
@font-face {
    font-family: "SamsungSharpSans";
    src: url(https://www.samsung.com/etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-common/resources/fonts/SamsungSharpSansBd.woff2) format("woff2");
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    height: auto;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px;
}
header >.container{
    display: flex;
    margin-top: 40px;
    width:  300px;
    height: 60px;
    border-radius: 99px;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.home{
    height: 100%;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
ul > li > a{
    font-family: "SamsungSharpSans";
    font-size: 14px;
    font-weight: 100;
    color: #000000;
    cursor: pointer;
    text-decoration: none;

}
div > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-wrap: wrap-reverse;
   
}
h1{
    color: #DBFF00;
    font-family: LEMONMILK;
    font-weight: 100;
    font-size: 45px;
    display: flex;
   align-items: center;
}
h4{
    color: #ffffff;
    font-weight: 100;
    font-size: 22px;
    font-family: "SamsungSharpSans";
}
.logo{
    width: 100%;
    height: auto;
    max-width: 300px;
    opacity: .5;
}

.logo_big{
    align-items: end;
}
.left_upper{
    display: flex;
}

.dot{
    width: 30px;
    height: 30px;
    border-radius: 999px;
    background-color: #ffffff;
    position: relative;
  left: 2px;
  top: 10px;
}
.explore{
    width: 120px;
    height: 45px;
    border-radius:  99px;
    background-color: #DBFF00;
    display: flex;
    justify-content: center;
    font-family: "SamsungSharpSans";
    align-items: center;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
.section{
   height: 100vh;
   margin: 130px 20px;
}
.welcomeimg{
    border-radius: 99px;
    opacity: .8;
}
p{
    color: #ffffff;
    font-family: "SamsungSharpSans";
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
}